.profile-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.profile-modal-content {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 5px;
  width: 600px;
  height: 430px;
  max-width: 90%;
  position: relative;
}

.profile-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  width: 100%;
}

.profile-form {
  display: flex;
}

.profile-photo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  width: 150px;
}
.profile-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.profile-pg-edit-pfp{
  width: auto;
  display: flex;
}
.pfp-puld-ipt{
  display: none;
}
.change-photo-button {
  padding: 5px 10px;
  margin-top: 22px;
  margin-left: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.change-photo-button:hover{
  background: #f78c00;
}

.additional-sections {
  margin-top: 76px;
  overflow-y: auto;
}

.additional-sections .section {
  margin-bottom: 10px;
}

.additional-sections .section button {
  padding: 5px 10px;
  width: 150px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.additional-sections .section button:hover{
  background: #4b4848;
}

.profile-details-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.profile-details-section label {
  margin-bottom: 5px;
}

.profile-details-section input {
  margin-bottom: 10px;
  outline: none;
  padding: 5px;
  border: 1px solid #4b4848;
  background: #777;
  color: #fff;
  border-radius: 3px;
}


.profile-buttons {
  display: flex;
  justify-content: flex-end;
}

.op-edit-button, .op-cancel-button, .op-save-button {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.op-edit-button:hover{
  background-color: #666;
}
.op-save-button:hover{
  background-color: rgba(32, 229, 45, 0.726);
}

.op-cancel-button:hover{
  background-color: #f78c00;
}

.books-added-section, .books-in-auction-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
